
<!-- groups sidebar -->
<ul id="slide-out" class="sidenav sidenav-fixed blue-grey lighten-4" style="top: 64px; width:225px">

    <!-- Button to create a new group -->
    <li><a class="btn" href="/groups/new">Create Group</a></li>
    <li><div class="divider"></div></li>

    <!-- groups list -->
        <%@groups.each do |g|%>
            <% if g==@group%>
                <li class="active">
            <% else %>
                <li>
            <% end %>
                <a href='/groups/<%=g.slug%>'><%=g.display_name%></a>
            </li>
        <%end%>
    <!-- end groups list -->
  
    <!-- Button to browse public groups -->
    <li><div class="divider"></div></li>
    <li><a href="/groups/list">Browse Groups</a></li>
    <li><a href="/invites">Group Invites
        <%invite_count = @user.group_invites.count%>
        <% if invite_count>0%>
            <span class="badge white-text blue-grey"><%=invite_count%></span>
        <% end %>
    </a></li>

    <li><div class="divider"></div></li>
    <li><a href='/profile'>View Profile</a></li>
    <li><a class="red-text" href="/logout">Logout</a></li>
</ul>
<!-- end groups side nav bar -->

<!-- channels side nav bar -->
<ul id="slide-out" class="sidenav sidenav-fixed blue-grey lighten-5" style="top: 64px; width:200px; left: 225px;">

    <li><a class="subheader"><%=@group.display_name%></a></li>
    <li><a href='/groups/<%=@group.slug%>/members'>View Members</a></li>
    <%if @is_admin%>
        <li><a href='/groups/<%=@group.slug%>/edit'>Edit Group</a></li>
    <%end%>

    <li><div class="divider"></div></li>

    <li><a href='/groups/<%=@group.slug%>/c/new'>+ New Channel</a></li>

    <%@channels.each do |channel|%>
        <% if channel == @channel %>
            <li class="active">
        <% else %>
            <li>
        <% end %>
        <a href='/groups/<%=@group.slug%>/c/<%=channel.slug%>'>#<%=channel.name%></a></li>
    <%end%>


    <li><div class="divider"></div></li>

    <!-- Leave Group form -->
    <form id='leave-form' method='POST' action='/groups/<%=@group.slug%>/leave'>
    </form>

    <li><a class="red-text" href="javascript:{}" onclick="document.getElementById('leave-form').submit(); return false;">Leave Group</a></li>
    
</ul>
<!-- end channels side nav bar -->

<!-- channel content -->
<div class="" style="margin-left: 425px; height: 100%;">

    <div class="row blue-grey lighten-5">
        <div class="col s11">
            <h4>#<%=@channel.name%></h4>
        </div>
        <%if @is_admin%>
            <div class="col s1">
                <div class=>
                    <a class="btn-small" href='/groups/<%=@group.slug%>/c/<%=@channel.slug%>/edit'>Edit</a>
                </div>
            </div>
        <%end%>
    </div>

    <div id="messages" style="height: 75vh; padding: 0px 10px; display:flex; overflow: hidden;">
        <ul class="collection" style="width:100%; display: flex; flex-direction:column-reverse; overflow: scroll;">
            <%@channel.messages.reverse.each do |m|%>
                <li class="collection-item">
                    <span class="name"><%=m.user.name%></span>
                    <p><%=m.contents%></p>
                </li>
            <%end%>
        </ul>
    </div>

    <div class="row" style="padding-top: 5px">
        <form id="msg-form" class="col s12" method='POST' action='/groups/<%=@group.slug%>/c/<%=@channel.slug%>'>
            <input type='hidden' name='message[channel_id]' value='<%=@channel.id%>'>
            <input type='hidden' name='message[user_id]' value='<%=@user.id%>'>
            <div class="row" style="margin: auto;">
                <div class="input-field col s11" style="margin: auto;">
                    <textarea class="materialize-textarea" name='message[contents]' placeholder='Type your message here' onkeypress="handleEnter(event)"></textarea>
                </div>
                <div class="col s1" style="margin: auto;">
                    <button class="btn waves-effect waves-light" type="submit"><i class="material-icons">send</i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end channel content -->



<script>
    function handleEnter(e){
        if (e.which == 13 && !e.shiftKey) {
            e.preventDefault();
            document.getElementById("msg-form").submit();
        }
    }
</script>