<a href='/groups'>Back to groups</a>
<h1><%=@group.display_name%></h1>


<%if @is_admin%>
    <a href='/groups/<%=@group.slug%>/members'><button>Edit Members</button></a>
    <a href='/groups/<%=@group.slug%>/edit'><button>Edit Group</button></a>
<%end%>

<h2>Channels</h2>

<!-- Button to create a new channel -->
<a href='/groups/<%=@group.slug%>/c/new'><button>+ Create Channel</button></a>
<br><br>

<%@group.channels.each do |channel|%>
    <a href='/groups/<%=@group.slug%>/c/<%=channel.slug%>'><h4>#<%=channel.name%></h4></a>
<%end%>

<!-- Leave Group form -->
<form id='leave-form' method='POST' action='/groups/<%=@group.slug%>/leave'>
</form>
<!-- Logout button -->
<h2><br></h2>
<a href="javascript:{}" onclick="document.getElementById('leave-form').submit(); return false;">Leave Group</a> | <a href='/logout'>Logout</a>